#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}
.ant-menu-item {
  margin-top: 0 !important;
}
.title_name {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50%;
  text-align: center;
  white-space: nowrap;
  transform: translateX(-50%);
}
.logout_btn{
  float: right;
  margin-top: 32px;
  transform: translateY(-50%);
  margin-right: 20px;
}
